# Accessing a Term Vector

_Using Elasticsearch and the Python api_

A term vector is information and statistics in the fields of a particular document. Term vectors in Elasticsearch are generated on the fly.

## What you will need

 - Python 3
 
This example uses an index based on media releases by a gallery, available at: https://data.qld.gov.au/dataset/qagoma-media-releases/resource/a1e4dffa-edb1-4e6d-a4a0-353aca79e9a3.
 
## Getting Started

In this example, we will use the Elaticsearch Python api. First, we will import and set-up all of the required Python modules and variables we will use later on. Additionally, if you wish to use `curl` instead of the Python api, the complimentary command line function has been commented above each api request.

In [1]:
from elasticsearch import Elasticsearch
import pandas as pd
es = Elasticsearch(urls=['localhost'], port=9200)

Let's examine what a document in this index looks like.

In [2]:
# This query will retrieve every document in the index.
query = {
    'query': {
        'match_all': {}
    }
}

# Send a search request to Elasticsearch.
# curl -X GET localhost:9200/goma/_search -H 'Content-Type: application/json' -d @query.json
res = es.search(index='goma', body=query)

# The response is a json object, the listing is nested inside it.
# Here we are accessing the first hit in the listing.
res['hits']['hits'][0]

{'_id': 'AV19Sgi4jk6MoKTLfifp',
 '_index': 'goma',
 '_score': 1.0,
 '_source': {'available': 'Yes',
  'category': 'Exhibition',
  'description': "'Lucent' draws together works from the Aboriginal and Pacific collections, illuminating connections and differences between the cultures. Evocations of light and its absence are explored through works ranging from installations of great majesty to intimate adornments for the body. Multiple feathered Banumbirr (Morning star) poles associated with creation stories engage with a 22 metre black Ngatu Ta Uli (barkcloth) used within mourning rituals, as do decorative and ceremonial pearlshell pendants from both cultures and textiles.",
  'end_time': '2017-07-30 17:00:00',
  'entry': 'Free',
  'id': '49647',
  'link': 'https://www.qagoma.qld.gov.au/whats-on/exhibitions/lucent',
  'location': 'GOMA: Gallery 3.5',
  'start_time': '2016-11-26 10:00:00',
  'stop_date': '2017-07-30',
  'thumbnail': 'https://www.qagoma.qld.gov.au/__data/assets/image/0006/49641/APP_lucent.jpg',
  'title': 'Lucent'},
 '_type': 'event'}

Using the term vector api, let's investigate the term vector for the description field of the document above (id _AV19Sgi4jk6MoKTLfifp_).

In [3]:
# curl -X GET localhost:9200/goma/event/AV19Sgi4jk6MoKTLfifp/_termvectors?term_statistics&fields=description
res = es.termvectors(index='goma', doc_type='event', id='AV19Sgi4jk6MoKTLfifp', 
                     fields=['description'], term_statistics=True)

# We don't really care that much about the additional info, let's get straight to the point.
tv = res['term_vectors']['description']
tv

{'field_statistics': {'doc_count': 32, 'sum_doc_freq': 1473, 'sum_ttf': 1854},
 'terms': {'22': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 381, 'position': 52, 'start_offset': 379}],
   'ttf': 1},
  'a': {'doc_freq': 28,
   'term_freq': 1,
   'tokens': [{'end_offset': 378, 'position': 51, 'start_offset': 377}],
   'ttf': 37},
  'aboriginal': {'doc_freq': 2,
   'term_freq': 1,
   'tokens': [{'end_offset': 49, 'position': 6, 'start_offset': 39}],
   'ttf': 3},
  'absence': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 173, 'position': 22, 'start_offset': 166}],
   'ttf': 1},
  'adornments': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 267, 'position': 35, 'start_offset': 257}],
   'ttf': 1},
  'and': {'doc_freq': 23,
   'term_freq': 5,
   'tokens': [{'end_offset': 53, 'position': 7, 'start_offset': 50},
    {'end_offset': 103, 'position': 12, 'start_offset': 100},
    {'end_offset': 161, 'position': 20, 'start_offset': 158},
    {'end_offset': 469, 'position': 66, 'start_offset': 466},
    {'end_offset': 523, 'position': 73, 'start_offset': 520}],
   'ttf': 73},
  'are': {'doc_freq': 3,
   'term_freq': 1,
   'tokens': [{'end_offset': 177, 'position': 23, 'start_offset': 174}],
   'ttf': 3},
  'as': {'doc_freq': 9,
   'term_freq': 1,
   'tokens': [{'end_offset': 451, 'position': 63, 'start_offset': 449}],
   'ttf': 12},
  'associated': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 342, 'position': 45, 'start_offset': 332}],
   'ttf': 1},
  'banumbirr': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 310, 'position': 41, 'start_offset': 301}],
   'ttf': 1},
  'barkcloth': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 417, 'position': 58, 'start_offset': 408}],
   'ttf': 1},
  'between': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 123, 'position': 14, 'start_offset': 116}],
   'ttf': 1},
  'black': {'doc_freq': 2,
   'term_freq': 1,
   'tokens': [{'end_offset': 393, 'position': 54, 'start_offset': 388}],
   'ttf': 2},
  'body': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 280, 'position': 38, 'start_offset': 276}],
   'ttf': 1},
  'both': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 510, 'position': 71, 'start_offset': 506}],
   'ttf': 1},
  'ceremonial': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 480, 'position': 67, 'start_offset': 470}],
   'ttf': 1},
  'collections': {'doc_freq': 5,
   'term_freq': 1,
   'tokens': [{'end_offset': 73, 'position': 9, 'start_offset': 62}],
   'ttf': 5},
  'connections': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 99, 'position': 11, 'start_offset': 88}],
   'ttf': 1},
  'creation': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 356, 'position': 47, 'start_offset': 348}],
   'ttf': 1},
  'cultures': {'doc_freq': 1,
   'term_freq': 2,
   'tokens': [{'end_offset': 136, 'position': 16, 'start_offset': 128},
    {'end_offset': 519, 'position': 72, 'start_offset': 511}],
   'ttf': 2},
  'decorative': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 465, 'position': 65, 'start_offset': 455}],
   'ttf': 1},
  'differences': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 115, 'position': 13, 'start_offset': 104}],
   'ttf': 1},
  'do': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 454, 'position': 64, 'start_offset': 452}],
   'ttf': 1},
  'draws': {'doc_freq': 3,
   'term_freq': 1,
   'tokens': [{'end_offset': 14, 'position': 1, 'start_offset': 9}],
   'ttf': 3},
  'engage': {'doc_freq': 4,
   'term_freq': 1,
   'tokens': [{'end_offset': 371, 'position': 49, 'start_offset': 365}],
   'ttf': 4},
  'evocations': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 148, 'position': 17, 'start_offset': 138}],
   'ttf': 1},
  'explored': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 186, 'position': 24, 'start_offset': 178}],
   'ttf': 1},
  'feathered': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 300, 'position': 40, 'start_offset': 291}],
   'ttf': 1},
  'for': {'doc_freq': 14,
   'term_freq': 1,
   'tokens': [{'end_offset': 271, 'position': 36, 'start_offset': 268}],
   'ttf': 14},
  'from': {'doc_freq': 11,
   'term_freq': 3,
   'tokens': [{'end_offset': 34, 'position': 4, 'start_offset': 30},
    {'end_offset': 213, 'position': 28, 'start_offset': 209},
    {'end_offset': 505, 'position': 70, 'start_offset': 501}],
   'ttf': 20},
  'great': {'doc_freq': 3,
   'term_freq': 1,
   'tokens': [{'end_offset': 236, 'position': 31, 'start_offset': 231}],
   'ttf': 3},
  'illuminating': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 87, 'position': 10, 'start_offset': 75}],
   'ttf': 1},
  'installations': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 227, 'position': 29, 'start_offset': 214}],
   'ttf': 1},
  'intimate': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 256, 'position': 34, 'start_offset': 248}],
   'ttf': 1},
  'its': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 165, 'position': 21, 'start_offset': 162}],
   'ttf': 1},
  'light': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 157, 'position': 19, 'start_offset': 152}],
   'ttf': 1},
  'lucent': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 7, 'position': 0, 'start_offset': 1}],
   'ttf': 1},
  'majesty': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 244, 'position': 32, 'start_offset': 237}],
   'ttf': 1},
  'metre': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 387, 'position': 53, 'start_offset': 382}],
   'ttf': 1},
  'morning': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 319, 'position': 42, 'start_offset': 312}],
   'ttf': 1},
  'mourning': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 439, 'position': 61, 'start_offset': 431}],
   'ttf': 1},
  'multiple': {'doc_freq': 2,
   'term_freq': 1,
   'tokens': [{'end_offset': 290, 'position': 39, 'start_offset': 282}],
   'ttf': 2},
  'ngatu': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 399, 'position': 55, 'start_offset': 394}],
   'ttf': 1},
  'of': {'doc_freq': 24,
   'term_freq': 2,
   'tokens': [{'end_offset': 151, 'position': 18, 'start_offset': 149},
    {'end_offset': 230, 'position': 30, 'start_offset': 228}],
   'ttf': 54},
  'pacific': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 61, 'position': 8, 'start_offset': 54}],
   'ttf': 1},
  'pearlshell': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 491, 'position': 68, 'start_offset': 481}],
   'ttf': 1},
  'pendants': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 500, 'position': 69, 'start_offset': 492}],
   'ttf': 1},
  'poles': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 331, 'position': 44, 'start_offset': 326}],
   'ttf': 1},
  'ranging': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 208, 'position': 27, 'start_offset': 201}],
   'ttf': 1},
  'rituals': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 447, 'position': 62, 'start_offset': 440}],
   'ttf': 1},
  'star': {'doc_freq': 2,
   'term_freq': 1,
   'tokens': [{'end_offset': 324, 'position': 43, 'start_offset': 320}],
   'ttf': 2},
  'stories': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 364, 'position': 48, 'start_offset': 357}],
   'ttf': 1},
  'ta': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 402, 'position': 56, 'start_offset': 400}],
   'ttf': 1},
  'textiles': {'doc_freq': 4,
   'term_freq': 1,
   'tokens': [{'end_offset': 532, 'position': 74, 'start_offset': 524}],
   'ttf': 7},
  'the': {'doc_freq': 25,
   'term_freq': 3,
   'tokens': [{'end_offset': 38, 'position': 5, 'start_offset': 35},
    {'end_offset': 127, 'position': 15, 'start_offset': 124},
    {'end_offset': 275, 'position': 37, 'start_offset': 272}],
   'ttf': 85},
  'through': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 194, 'position': 25, 'start_offset': 187}],
   'ttf': 1},
  'to': {'doc_freq': 14,
   'term_freq': 1,
   'tokens': [{'end_offset': 247, 'position': 33, 'start_offset': 245}],
   'ttf': 24},
  'together': {'doc_freq': 2,
   'term_freq': 1,
   'tokens': [{'end_offset': 23, 'position': 2, 'start_offset': 15}],
   'ttf': 2},
  'uli': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 406, 'position': 57, 'start_offset': 403}],
   'ttf': 1},
  'used': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 423, 'position': 59, 'start_offset': 419}],
   'ttf': 1},
  'with': {'doc_freq': 7,
   'term_freq': 2,
   'tokens': [{'end_offset': 347, 'position': 46, 'start_offset': 343},
    {'end_offset': 376, 'position': 50, 'start_offset': 372}],
   'ttf': 12},
  'within': {'doc_freq': 1,
   'term_freq': 1,
   'tokens': [{'end_offset': 430, 'position': 60, 'start_offset': 424}],
   'ttf': 1},
  'works': {'doc_freq': 6,
   'term_freq': 2,
   'tokens': [{'end_offset': 29, 'position': 3, 'start_offset': 24},
    {'end_offset': 200, 'position': 26, 'start_offset': 195}],
   'ttf': 8}}}

That's a big json object, so let's break it down into some digestable tables. Firstly, let's take a look at the field statistics.

 - `doc_count`: document count (how many documents contain this field)
 - `sum_doc_freq`: sum of document frequencies (the sum of document frequencies for all terms in this field)
 - `sum_ttf`: sum of total term frequencies (the sum of total term frequencies of each term in this field)

In [4]:
pd.DataFrame(tv['field_statistics'], index=['count'])

       doc_count  sum_doc_freq  sum_ttf
count         32          1473     1854

More importantly, we can also see the breakdown of the term statistics in the document for each term in the document. These tables omit the `tokens` field, however this is can be used to extract the location of the term in the document.

 - `term_freq`: term frequency in the field
 - `doc_freq`: document frequency (the number of documents containing the current term)
 - `ttf`: sum of total term frequencies (the sum of total term frequencies of each term in this field)

In [5]:
terms = []
for term in tv['terms']:
    term_info = tv['terms'][term].copy()
    del(term_info['tokens'])
    term_info.update({'term': term})
    terms.append(term_info)
df = pd.DataFrame(terms).set_index('term')
df[0:10]

            doc_freq  term_freq  ttf
term
22                 1          1    1
a                 28          1   37
aboriginal         2          1    3
absence            1          1    1
adornments         1          1    1
and               23          5   73
are                3          1    3
as                 9          1   12
associated         1          1    1
banumbirr          1          1    1

In [6]:
# Sorted by doc_freq
df.sort_values(by='doc_freq', ascending=False)[0:10]

       doc_freq  term_freq  ttf
term
a            28          1   37
the          25          3   85
of           24          2   54
and          23          5   73
for          14          1   14
to           14          1   24
from         11          3   20
as            9          1   12
with          7          2   12
works         6          2    8

In [7]:
# Sorted by term_freq
df.sort_values(by='term_freq', ascending=False)[0:10]

          doc_freq  term_freq  ttf
term
and             23          5   73
the             25          3   85
from            11          3   20
works            6          2    8
of              24          2   54
cultures         1          2    2
with             7          2   12
lucent           1          1    1
majesty          1          1    1
metre            1          1    1

In [8]:
# Sorted by ttf
df.sort_values(by='ttf', ascending=False)[0:10]

       doc_freq  term_freq  ttf
term
the          25          3   85
and          23          5   73
of           24          2   54
a            28          1   37
to           14          1   24
from         11          3   20
for          14          1   14
with          7          2   12
as            9          1   12
works         6          2    8